@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@source "../views/**/*.php";
@source "../controllers/**/*.php";
@source "../**/*.html";

@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* PRIMARY COLORS*/
  --color-brand: #c00000; /* Brand Color - Deep Red */
  --color-brand-hover: #d55454; /* Hover States - Light Red */

  /*BACKGROUND COLORS*/

  /* Dark Mode */
  --color-bg-dark: #0d0d0d; /* Background - Pure Black */
  --color-card-dark: #2e2e2e; /* Card/Border - Dark Gray */
  --color-overlay-dark: #1a1a1a; /* Modal Overlay - Dark Gray (use with opacity) */

  /* Light Mode */
  --color-bg-light: #ffffff; /* Background - Pure White */
  --color-card-light: #e5e5e5; /* Card/Border - Light Gray */

  /* TEXT COLORS */

  /* Dark Mode */
  --color-text-primary: #ffffff; /* Primary Text - White */
  --color-text-secondary: #a3a3a3; /* Secondary Text - Light Gray */

  /* Light Mode */
  --color-text-dark: #000000; /* Primary Text - Black */
  --color-text-gray: #737373; /* Secondary Text - Medium Gray */

  /*ACCENT/UTILITY COLORS*/
  --color-accent-green: #22c55e; /* Success/Badges - Bright Green */
  --color-accent-light-green: #4ade80; /* Success Light - Light Green */
  --color-accent-dark-green: #248045; /* Success Dark - Dark Green */
  --color-accent-blue: #3b82f6; /* Info/Action - Blue */
  --color-accent-navy: #406a9d; /* Info Dark - Navy Blue */
}
@layer utilities {
  .bg-gradient-dark {
    background-image:
      radial-gradient(circle at 25% 15%, rgba(192, 0, 0, 0.2), transparent 40%),
      radial-gradient(circle at 75% 85%, rgba(192, 0, 0, 0.15), transparent 40%);
  }

  .fill-1 {
    font-variation-settings: "FILL" 1;
  }
}
@layer base {
  body {
    font-family: var(--font-family-sans);
  }
}
